//-----COLORES-----// 
    $color-p: black;
    $color-s: #333333;
    $color-t: #555555;
    $color-a: #356EAD;

//-----TAMAÑOS DE FUENTE-----// 
    $size-p: 2rem;
    $size-p2: 1.5rem;
    $size-s: 1rem;

//-----COLOR DE FODO-----// 
    $gb-s: rgb(200, 195, 195);

//-----ALTO ENTRE LINEAS-----// 
    $line: 24px;